body{
	background: url(https://scontent.fmaa1-2.fna.fbcdn.net/v/t1.0-9/21767996_977743089046218_2402133904753431918_n.jpg?oh=7cc214386f2569dd4b7d9491a99c2db9&oe=5AC32F7C);
	background-size: cover;
	background-position: center;
	font-family:lato;
	color:black;
}
hr{
	width:400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
#content{
	text-align: center;
	padding-top: 40%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 14px 23px rgba(0,0,0,0.1);
}
h1{
	font-weight:700;
	font-size: 5.0em;
}
html{
	height: 100%;
}
.cake{
	color:purple;
}
#followers{
	color:red;
}
#kak{
	color: #A569BD;
	font-weight: 800;
	font-family:lato;
}
